{% extends 'base.html' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>{{ the_title }}</h1>
      <hr>

      <div class="row">
      <div class="col-4">
        <form action="/upload-pdf" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="custom-file">
              <input oninput="filesize(this);" type="file" class="custom-file-input" name="pdf_up" id="pdf_up">
              <label class="custom-file-label" for="pdf_up">Select file</label>
            </div>
          </div>
       </div>
      </div>

      <br>

      <div class="row">          
      <div class="col-4">
      <button onclick="clear_fz();" type="submit" class="btn btn-primary">Submit</button>
      </div>
      </div>

      </form>
      <br>

      </div>
        <div class="row">
          <h3>Output 1</h3>
          {{ en_output|markdown }}
        </div>
    
        <br>

        <div class="row">
          <h3>Output 2</h3>
          {{ sci_output|markdown }}
        </div>
  </div>
</div>

{% endblock %}
