{% extends 'base.html' %}

{% block body %}

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<div class="container">
  <div class="row">
    <div class="col">

    <a href="{{ url_for('index') }}"><h1>{{ the_title }}</h1></a>
      <hr>

      <div class="row">
      <div class="col-7">
        <form action="/upload-pdf" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="custom-file">
              <input oninput="filesize(this);" type="file" class="custom-file-input" name="pdf_up" id="pdf_up">
              <label class="custom-file-label" for="pdf_up">Select file (.txt or .pdf)</label>
            </div>
          </div>
       </div>
      </div>

      <br>

      <div class="row">          
        <div class="col-4">
          <button onclick="loading();" type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
        </div>
      </div>

      </form>
      <br>

      <br>

          <h4><strong>Filename: </strong>{{ filename }}</h4>

          <table class="table table-responsive-md btn-table">
          <tbody>

            <tr>
                <th scope="row"><stong>Possible NSC</stong></th>
                <td> {{ nscs }} </td>
            </tr>

          </tbody>
         </table>

      <br>

            <h3 class="blue-primary">GUESSTIMATED TAXONOMY NAME</h3>

              <table id="wordpair-table">
                
                {%  set max_columns = 3 %}
                    {% if poss_wp|length % max_columns == 0 %}
                      {% set buffer = 0 %}
                    {% else %}
                      {% set buffer = 1 %}
                    {% endif %}

                    {% set interval = poss_wp|length / max_columns %}
                    {% set rows = interval|int + buffer %}    
                      {% for p in range(rows) %}
                        <tr>
                          {% for n in range(max_columns) %}
                            {% set cell_pos = (p * max_columns) + n %}
                              <td id="wordpair-col">{{ poss_wp[cell_pos] }}</td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
              </table>

    </div>
  </div>
</div>

{% endblock %}
